@(user: models.User, rooms: List[models.Room], lobby: models.Lobby, room: models.Room)

@main("ロビー") {
    <div>こんにちは @user.name さん</div>
    @chat(user, room)
    @form(controllers.Rooms.create) {
        <ul data-role="listview" data-inset="true">
            <li data-role="fieldcontain">
                <label for="title">ルームタイトル</label>
                <input type="text" name="title" id="title" />
            </li>
            <input type="hidden" name="gameId" value="@lobby.gameId" />
            <input type="hidden" name="username" value="@user.name" />
            <input type="submit" id="create" value="ルーム作成" />
        </ul>
    }
    <ul>
        @rooms.map { room =>
            <li><a href="@action(controllers.Rooms.show(room.id, user.id()))">@room.title</a></li>
        }
    </ul>
}
