@(rooms: collection.mutable.Set[models.Room], username: String)

@main("Listing Rooms") {
    <h1>yabage</h1>
    @form(controllers.Rooms.create) {
        <p>
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" />
        </p>
        <p>
            <label for="username">ニックネーム: </label>
            <input type="text" name="username" id="username" value="@username" />
        </p>
        <p>
            <input type="submit" value="Join" />
        </p>
    }

    <ul>
        @rooms.map { room =>
            <li><a href="@action(controllers.Rooms.show(room.title, username))">@room.title (@room.users.size 人)</a></li>
        }
    </ul>
}
